@import url("https://use.typekit.net/xbs4ntm.css");

@import url("https://use.typekit.net/kuy1lwq.css");
body {
  margin: 0;
  padding: 0;
  font-family: omnes-pro, sans-serif;
  font-style: normal;
  font-size: 18px;
  color: #ac5f27;
  background-color: #fefbd1;
}

.logo {
  padding: 5px;
  display: flex;
  align-items: center;
}

.logo h1 {
  font-family: ff-cocon-pro, sans-serif;
  color: #ac5f27;
  font-size: 26px;
  padding-left: 10px;
}

.logo img {
  height: 70px;
}

.navigation {
  height: 70px;
  background-color: #fefbd1;
  padding: 0 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  font-family: omnes-pro, sans-serif;
}

nav ul {
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
}

nav a {
  color: #ac5f27;
  padding: 10px 18px;
  text-decoration: none;
  font-size: 18px;
  border-right: 1.5px solid black;
}

header {
  background-image: url("images/Soft\ Pretzel.jpg");
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  width: cover;
  justify-content: center;
  align-items: center;

}

.hero-text {
  text-align: center;
  color: #FEFBD1;
  background-color: rgba(172, 95, 39, .7);
  padding: 5px 25px;

}

.hero-text h1{
  color: #FEFBD1;
  font-size: 4em;
  margin: 0;
}

.hero-text h2 {
  font-family: ff-cocon-pro, sans-serif;
  margin-bottom: -30px;
  font-size: 2em;
}

h1 {
  text-align: center;
  font-family: ff-cocon-pro, sans-serif;
  color: #ac5f27;
  font-size: 39px;
  margin-top: 20px;
}

.pretzel img {
  width: 330px;
  height: 320px;
  object-fit: cover;
  object-position: right;
  padding: 50px;
  /*margin-left: 200px;*/
}

.titles p {
  margin-bottom: 15px;
}

.titles h1 {
  border-bottom: 1px solid #ac5f27;
  margin-bottom: 10px;
  text-align: left;
}

.twist-history {
  background: #fff; 
}

.sect-1 {
  margin: 0px auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 80%;
}

.pretzel img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}


p {
  font-family: omnes-pro, sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Kaisei Tokumin", serif;
  color: #ac5f27;
  line-height: 1.6;
}

.section-2 {
  background: #fcf8aa;
}

.slide-buttons {
  position: relative;
}

.slider {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.slide.current {
  opacity: 1;
}

/* text of the slide*/

.slide .content {
  position: absolute;
  bottom: 70px;
  left: -600px;
  width: 600px;
  background: rgba(255, 255, 255, 0.8);
  color: #333;
  padding: 35px;
  opacity: 0;
}

.slide .content h1 {
  margin-bottom: 10px;
  border-bottom: 1px solid #ac5f27;
}

.slide.current .content {
  opacity: 1;
  transform: translateX(600px);
  transition: all 0.7s ease-in-out 0.3s;
}

/*buttons style*/
.buttons button#next {
  position: absolute;
  top: 50%;
  right: 15px;
}

.buttons button#prev {
  position: absolute;
  top: 50%;
  left: 15px;
}

.buttons button {
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  cursor: pointer;
  padding: 13px 15px;
  border-radius: 50%;
  outline: none;
}

.buttons button:hover {
  background: #f3cb57;
}

/*Background images*/
.slide:first-child {
  background-image: url("images/cinnamonsugarpretzels.jpg");
  background-size: cover;
}

.slide:nth-child(2) {
  background-image: url("images/JalapenoChedd.jpeg");
  background-size: cover;
}

.slide:nth-child(3) {
  background-image: url("images/Garlic\ Parm.jpg");
  background-size: cover;
}

.slide:nth-child(4) {
  background-image: url("images/OriginalPretzel.jpg");
  background-size: cover;
}

.slide:nth-child(5) {
  background-image: url("images/PretzelDogs.jpg");
  background-size: cover; 
}

.slide:nth-child(6) {
  background-image: url("images/PretzelBites.jpg");
  background-size: cover;
}

.card {
    display: flex;
    justify-content: center;
    background:white;
    margin: 2rem auto;
    width: 700px;
  }

  .card img {
    width: 400px;
    object-fit: cover;
    padding: 25px;
  }
  
  .card h3 {
    margin-bottom: 2rem;
    background: #F3CB57;
    padding: 5px;
    font-family: omnes-pro, sans-serif;
  }
  
  .card > div {
    padding:  2rem;
  }
  
  .card:nth-child(even) img {
    order: 2;
  }
  
  .card a {
    display: inline-block;
    background: black;
    color:white;
    padding: .6rem 1.5rem;
    margin-top: 2rem;
    border-radius: 50px;
  }
  
  .card a:hover {
    opacity: .5;
  }

  body,
html {
  font-family: omnes-pro, sans-serif;
}

.container {
  width: 610px;
  margin: 0 auto;
}

.container h1{
  padding-bottom: 25px;
}

.overlay-container {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  display: inline-block;
}

.image {
  position:cover;
  width: 100%;
}

.text {
  color: #A34121;
  position: absolute;
  top: 15%;
  text-align: center;
  width: 100%;
  font-size: 15px;
  transition: translate(-50%, -50%);
}


.overlay {
  position: absolute;
  transition: all 300ms ease;
  background: #FCF8AA;
  opacity: 0;
}

.overlay-container:hover .overlay {
  opacity: 1;
}


.overlay-left {
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
}

.overlay-right {
  height: 100%;
  width: 0;
  top: 0;
  right: 0;
}

.overlay-top {
  height: 0;
  width: 100%;
  top: 0;
  right: 0;
}


.overlay-container:hover .overlay-left {
  width: 100%;
}

.overlay-container:hover .overlay-right {
  width: 100%;
}

.overlay-container:hover .overlay-top {
  height: 100%;
}

.overlay-container img{
  object-fit: cover;
  width:100%;
  object-position: center;
}
  