@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');

h1 {
    color: lightblue;
    font-family: 'Zen Antique', serif;
}

.hero {
    height: 75vh;
    background: url("../images/jalapeno-pretzel-recipe.jpg");
}